---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="A brief description"
	pubDate={new Date('OCT 15 2023')}
	heroImage="/EUTlogo.png"
>
	<p>
		Hi I am Salvador Moreno Carrillo and  I study Telematics Engenieering in UPCT (Universidad Politécnica de Cartagena) but currently studying in RTU (Rīgas Tehniskā universitāte) with the erasmus program.
	</p>

	<p>
		Here in RTU I'm taking the subject Digital Switching Systems and this page will serve as a record of my learning experience but I hope to help some people in the way.
	</p>

	<p>
	Let's make this something big.
	</p>

	
</Layout>
