---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Digital Switching Systems" description="Learn about Switching Systems alongside me" />
	</head>
	<body>
		<Header title="Digital Switching Systems" />
		<main>
			<h1>🧑‍🚀 Hello, World!</h1>
			<p>
				Welcome to this lovely project where I will share what I learn in the classroom, my own knowledge and ideas and whatever I might think is useful and interesting in order to understand this subject
			</p>
			
			<p>Here you will find:</p>
			<ul>
				<li>Blogs about some interesting subjects, problems and discussions.</li>
				<li>Interesting projects you can do to understand key concepts</code></li>
				<li>And contact information</li>
			</ul>
			<p>
				Have fun!  I hope we all learn something valuable with this.
			</p>
			<p>
				Please remeber this is a Work in Progres.
				Open to suggestions you can find the git repository clicking the icon.
			</p>
		</main>
		<Footer />
	</body>
</html>
